.container{
  border: 2px solid green;
  background-color: lightgreen;
  width:50%;
  margin-left: 25%;
}
/* h1{
  background-color: yellow;
}
h2 {
  background-color: red;
}
h3{
  background-color: brown;
}
p1{
  background-color: tan;
}
p{
  background-color: blue; */
/* } */
form{
   border: 2px solid green;
   background-color:lightblue;
 margin :10px;
 padding : 10px;

 }
